<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="mainpage.component.css">
</head>
<body>
    <style>
        body {
          background-image: linear-gradient(rgba(0,0,0,0.75)),rgba(0,0,0,0.75),url('/assets/images/hi1.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }
        </style>
        <div class="lorem">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, laboriosam.
      </div>
</body>
</html>