<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="blogpage.component.css">
</head>
<body>
    <div class="wrapper">
        <div class="card">
      <img src="assets/images/canine.jpg" alt="Canine Images" width="300" height="200">  
        <div class="info">
          <h1>Canine distemper</h1>
          <p>Canine distemper is a deadly disease caused by a very contagious virus. Puppies and dogs usually contract it through airborne exposure (sneezing or coughing), and can also be spread through bodily fluids. Infected dogs typically develop runny eyes, fever, snotty nose, coughing, vomiting, diarrhoea, seizures, and paralysis.</p>
            <a href="https://en.wikipedia.org/wiki/Canine_distemper" class="btn">Read More</a>
        </div>
        </div>
      
        <div class="card">
          <img src="assets/images/kennel.jpg"alt="Kennel Images" width="300" height="200">  
            <div class="info">
              <h1>Kennel Cough</h1>
              <p>Kennel Cough is caused by a combination of viruses and bacteria. It is very contagious and easily spreads through contact with an infected dog. Dogs that contract Kennel Cough might not show any symptoms in the initial stages,but they can still infect other dogs. Most common symptoms of this illness are a snotty nose and a dry, hacking cough.</p>
                <a href="https://en.wikipedia.org/wiki/Kennel_cough" class="btn">Read More</a>
            </div>
            </div>
      
            <div class="card">
              <img src="assets/images/tick.jpg" alt="Tick Images" width="300" height="200">  
                <div class="info">
                  <h1>Tick-borne diseases</h1>
                  <p>These diseases are transmitted by external parasites like ticks, fleas and mange which attach themselves to animals. It is transmitted when an infected tick bites a dog or a human.There are many different types of tick-borne diseases in dogs, the most common ones are Lyme disease, Ehrlichiosis.</p>
                    <a href="https://en.wikipedia.org/wiki/Tick-borne_disease" class="btn">Read More</a>
                </div>
                </div>
      
      
                <div class="card">
                  <img src="assets/images/yeast.jpg" alt="Yeast Images" width="300" height="200">  
                    <div class="info">
                      <h1>Yeast Infection in Dogs</h1>
                      <p>Yeast infections are caused by an overgrowth of the Candida fungus, which is naturally present in small amounts in a dog's body. Factors like a weakened immune system, allergies, hormonal imbalances, or underlying health conditions can contribute to the overgrowth of yeast.</p>
                        <a href="https://en.wikipedia.org/wiki/Malassezia_pachydermatis#:~:text=Canine%20infection,-Malessezia%20pachydermatis%20is&text=Gustafson%2C%20this%20yeast%20has%20since,deposits%20within%20the%20ear%20canal" class="btn">Read More</a>
                    </div>
                    </div>
      
                    <div class="card">
                      <img src="assets/images/mange.jpg" alt="Mange Images" width="300" height="200">  
                        <div class="info">
                          <h1>Mange (Sarcoptic Mange) </h1>
                          <p>Description: Mange is a skin condition caused by mites. Sarcoptic mange is highly contagious and can spread between dogs, while Demodectic mange is often associated with compromised immune systems.</p>
                            <a href="https://en.wikipedia.org/wiki/Mange" class="btn">Read More</a>
                        </div>
                        </div>
      
                        <div class="card">
                          <img src="assets/images/rabies.jpg" alt="Rabies Images" width="300" height="200">  
                            <div class="info">
                              <h1>Rabies</h1>
                              <p>Rabies is a viral disease that affects the central nervous system of mammals, including humans. It is caused by the rabies virus, which belongs to the Lyssavirus genus. The disease is almost always fatal once symptoms appear, making it a serious public health concern.</p>
                                <a href="https://en.wikipedia.org/wiki/Rabies_in_animals" class="btn">Read More</a>
                            </div>
                            </div>
      <!-- shashank end -->
                            <div class="card">
                          <img src="assets/images/feline.jpeg" alt="Feline Leukemia Virus  Images" width="300" height="200">  
                            <div class="info">
                              <h1>Feline Leukemia Virus</h1>
                              <p>Feline leukemia virus (FeLV) is one of the most important infectious diseases of cats worldwide. Affected cats can develop anemia (a low red blood cell level), cancers, and/or suppression of the immune system. The disease worsens over time and is usually fatal. The virus can infect domestic and wild cats (such as lions).</p>
                                <a href="https://en.m.wikipedia.org/wiki/Feline_leukemia_virus" class="btn">Read More</a>
                            </div>
                            </div>
               
                            <div class="card">
                              <img src="assets/images/canine paravovirus.jpeg" alt="canine parvovirus Images" width="300" height="200">  
                                <div class="info">
                                  <h1>Canine Parvovirus</h1>
                                  <p>Canine parvovirus (CPV) is a highly contagious viral disease of dogs that commonly causes acute gastrointestinal illness in puppies. The disease most often strikes in pups between six and 20 weeks old, but older animals are sometimes also affected. A rare variant of the disease may be seen in very young (neonatal) puppies is myocarditis .</p>
                                    <a href="https://en.m.wikipedia.org/wiki/Canine_parvovirus" class="btn">Read More</a>
                                </div>
                                </div>
      
                                <div class="card">
                                  <img src="assets/images/feline immuno.jpeg" alt="feline immunodefuciency virus Images" width="300" height="200">  
                                    <div class="info">
                                      <h1>feline immunodefuciency virus</h1>
                                      <p>Feline immunodeficiency virus (FIV) is one of the most common and consequential infectious diseases of cats around the world. In infected cats, FIV attacks the immune system, leaving the cat vulnerable to many other infections. Although cats infected with FIV may appear normal for years, they eventually suffer from immune deficiency, which allows normally harmless bacteria, viruses, protozoa, and fungi found in the everyday environment to potentially cause severe illnesses</p>
                                        <a href="https://en.m.wikipedia.org/wiki/Feline_immunodeficiency_virus" class="btn">Read More</a>
                                    </div>
                                    </div>
      
                                    <div class="card">
                                      <img src="assets/images/leptoperosis.jpeg" alt="leptosperosis Images" width="300" height="200">  
                                        <div class="info">
                                          <h1>Leptosperosis</h1>
                                          <p>Leptospirosis is a bacterial disease that affects humans and animals. It is caused by bacteria of the genus Leptospira.Without treatment, Leptospirosis can lead to kidney damage, meningitis (inflammation of the membrane around the brain and spinal cord), liver failure, respiratory distress, and even death.</p>
                                            <a href="https://en.m.wikipedia.org/wiki/Leptospirosis" class="btn">Read More</a>
                                        </div>
                                        </div>
      
                                        <div class="card">
                                          <img src="assets/images/heartworm.jpeg" alt="heartworm disesse Images" width="300" height="200">  
                                            <div class="info">
                                              <h1>Heartworm Disesse</h1>
                                              <p>Heartworm disease is a serious disease that results in severe lung disease, heart failure, other organ damage, and death in pets, mainly dogs, cats, and ferrets. It is caused by a parasitic worm called Dirofilaria immitis.The worms are spread through the bite of a mosquito. </p>
                                                <a href="https://en.m.wikipedia.org/wiki/Dirofilaria_immitis" class="btn">Read More</a>
                                            </div>
                                            </div>
      
                                            <div class="card">
                                              <img src="assets/images/ringworm.jpeg" alt="fungal infection ring worm Images" width="300" height="200">  
                                                <div class="info">
                                                  <h1>Fungal Infection Ring worm</h1>
                                                  <p>The fungi that cause ringworm live as infective spores in the environment. Direct contact to these spores leads to the disease. These spores may be on the hair of an infected animal or even on items used on the animals like brushes or clippers.</p>
                                                    <a href="https://en.m.wikipedia.org/wiki/Dermatophytosis" class="btn">Read More</a>
                                                </div>
                                                </div>
      </div>
      
    
</body>
</html>