<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="navbar.component.css">
</head>
  <body>
    
    <!-- <div class>
      <div id="photo1"></div>
      <div id="lorem1">
        <div id="first">
          <h1>ONE CLICK TO SAVE ANIMALS</h1>
        Embark on a mission of change with just a click. Our platform seamlessly connects you with NGOs dedicated to rescuing animals in danger. Together, we strive to be the voice for those who cannot speak, ensuring that every creature receives the care and support they deserve.
      </div>
      </div>
    </div>

    <div>
      <div id="photo2"></div>
      <div id="lorem2">
        <div id="second">
          <h1>Rescue, Connect, Save</h1>
        Experience the power of collective action. Whether you're an animal lover, an NGO, or someone witnessing an animal in distress, our platform simplifies the process. Connect with dedicated NGOs, report cases, and contribute to saving lives with a single click.
      </div>
      </div>
    </div>

    <div>
      <div id="photo3">
      </div>
      <div id="lorem3">
        <div id="third">
          <h1>Response, Sustained Care</h1>
        Our commitment extends beyond rescue. With your support, we not only respond swiftly to emergencies but also provide sustained care. From medical attention to regular food supplies, we strive to create a network that ensures the well-being of animals in need.
      </div>
      </div>
    </div>

  <div>
    <div id="photo4">
    </div>
    <div id="lorem4">
      <div id="fourth">
        <h1>Join the Movement</h1>
      Be a part of the change. Join us in creating a world where every animal has a chance to thrive. Your click can make a difference one life at a time. Together, let's build a community that stands united for the welfare of our fellow beings. #OneClickToSave 🌟
    </div>
  </div>
  </div> -->
  <div class ="content">
    <div class="info">
        <h2>Aimals Deserve <span>Better!</span></h2>
    </div>
</div>
  <div class="projcard-container">
    
    <div class="projcard projcard-blue">
      <div class="projcard-innerbox">
        <img class="projcard-img" src="/assets/images/first.jpg" />
        <div class="projcard-textbox">
          <div class="projcard-title">ONE CLICK TO SAVE ANIMALS</div>
          <div class="projcard-subtitle">Save animals at one click</div>
          <div class="projcard-bar"></div>
          <div class="projcard-description">Embark on a mission of change with just a click. Our platform seamlessly connects you with NGOs dedicated to rescuing animals in danger. Together, we strive to be the voice for those who cannot speak, ensuring that every creature receives the care and support they deserve.</div>
          <!-- <div class="projcard-tagbox">
            <span class="projcard-tag">Excel</span>
            <span class="projcard-tag">VBA</span>
          </div> -->
        </div>
      </div>
    </div>
    
    <div class="projcard projcard-red">
      <div class="projcard-innerbox">
        <img class="projcard-img" src="/assets/images/image2.jpg" />
        <div class="projcard-textbox">
          <div class="projcard-title">Rescue, Connect, Save</div>
          <div class="projcard-subtitle">Lorem ipsum dolor sit amet.</div>
          <div class="projcard-bar"></div>
          <div class="projcard-description">Experience the power of collective action. Whether you're an animal lover, an NGO, or someone witnessing an animal in distress, our platform simplifies the process. Connect with dedicated NGOs, report cases, and contribute to saving lives with a single click.</div>
          <!-- <div class="projcard-tagbox">
            <span class="projcard-tag">Excel</span>
            <span class="projcard-tag">VBA</span>
          </div> -->
        </div>
      </div>
    </div>
    
    <div class="projcard projcard-green">
      <div class="projcard-innerbox">
        <img class="projcard-img" src='/assets/images/image1.gif' />
        <div class="projcard-textbox">
          <div class="projcard-title">Response, Sustained Care</div>
          <div class="projcard-subtitle">You know what this is by now</div>
          <div class="projcard-bar"></div>
          <div class="projcard-description">Our commitment extends beyond rescue. With your support, we not only respond swiftly to emergencies but also provide sustained care. From medical attention to regular food supplies, we strive to create a network that ensures the well-being of animals in need.</div>
          <!-- <div class="projcard-tagbox">
            <span class="projcard-tag">Excel</span>
            <span class="projcard-tag">VBA</span>
          </div> -->
        </div>
      </div>
    </div>
    
    <div class="projcard projcard-customcolor" style="--projcard-color: #F5AF41;">
      <div class="projcard-innerbox">
        <img class="projcard-img" src='/assets/images/image4.jpg' />
        <div class="projcard-textbox">
          <div class="projcard-title">Join the Movement</div>
          <div class="projcard-subtitle">That's the last one. Have a nice day!</div>
          <div class="projcard-bar"></div>
          <div class="projcard-description">Be a part of the change. Join us in creating a world where every animal has a chance to thrive. Your click can make a difference one life at a time. Together, let's build a community that stands united for the welfare of our fellow beings. #OneClickToSave 🌟</div>
          <!-- <div class="projcard-tagbox">
            <span class="projcard-tag">iOS</span>
            <span class="projcard-tag">Android</span>
            <span class="projcard-tag">Cordova</span>
          </div> -->
        </div>
      </div>
    </div>
    
  </div>
</body>
</html>
