
<body>
  <nav>
    <div class="navbar">
      <div class="container nav-container">
        <a class="nav-container" href="#"></a>
          <input class="checkbox" type="checkbox" name="" id="" />
          <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
          </div>  
        <div class="logo">
          <h1>Stray Savers</h1>
        </div>
        <div class="menu-items">
            <li><a href=""><b>Home</b></a></li>
            <li><a href="/blogpage"><b>Diseases</b></a></li>
            <li><a href="/portfolio"><b>Save Pets</b></a></li>
            <li><a href="/contactus"><b>Contact Us</b></a></li>
            <li><a href="/aboutpage"><b>About</b></a></li>
        </div>
      </div>
    </div>
  </nav>

  
  <div class="hlo">
    <router-outlet></router-outlet>
  </div>
  
</body>
