<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="portfolio.component.css">
  <style>
    body {
      background-image:linear-gradient(to right, rgba(255,0,0,0), rgb(173, 172, 176));
      background-attachment: scroll;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
    </style>
</head>
<body>
  <div class="heading-div">
    <h1>Near By Ngo's</h1>
  </div>
  <!-- ngo1 -->
  <div class="container">
    <div class="card">
      <div class="card-details">
        <div class="card-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124441.9613843625!2d77.33049044335938!3d12.919846999999992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3f4debc90181%3A0xbd1e54f66dec4e80!2sAnimal%20Rights%20Fund!5e0!3m2!1sen!2sin!4v1705208890507!5m2!1sen!2sin" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="additional-info">
          <h3>Additional Information</h3>
          <p>Location: Your Location</p>
          <p>Category: Pet Care</p>
        </div>
      </div>
      <div class="card-info">
        <h3>Title</h3>
        <p>Description goes here.</p>
      </div>
    </div>
  </div>

  <!-- 2nd ngo -->
  <div class="container1">
    <div class="card1">
      <div class="card-details1">
        <div class="card-map1">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124402.75842958856!2d77.41983284335936!3d12.9982976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1627b80b8b31%3A0xeff895805ce40c22!2sLet%E2%80%99s%20Live%20Together%20NGO%20Office!5e0!3m2!1sen!2sin!4v1705208911820!5m2!1sen!2sin" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="additional-info1">
          <h3>Additional Information</h3>
          <p>Location: Your Location</p>
          <p>Category: Pet Care</p>
        </div>
      </div>
      <div class="card-info1">
        <h3>Title</h3>
        <p>Description goes here.</p>
      </div>
    </div>
  </div>

<!-- 3 ngo -->
<div class="container2">
  <div class="card2">
    <div class="card-details2">
      <div class="card-map2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124433.99665038721!2d77.35321564335939!3d12.935823399999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3eebbfdccc4d%3A0x534ffe24484a3fcf!2sCUPA%20LARRC%20(Large%20Animal%20Rescue%20%26%20Rehabilitation%20Center)!5e0!3m2!1sen!2sin!4v1705208932753!5m2!1sen!2sin" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="additional-info2">
        <h3>Additional Information</h3>
        <p>Location: Your Location</p>
        <p>Category: Pet Care</p>
      </div>
    </div>
    <div class="card-info2">
      <h3>Title</h3>
      <p>Description goes here.</p>
    </div>
  </div>
</div>

<!-- 4th ngo -->
<div class="container3">
  <div class="card3">
    <div class="card-details3">
      <div class="card-map3">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124430.67976395099!2d77.47947124335938!3d12.942470999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1522584c84af%3A0xba22e5f5f5bf9117!2sMylos%20Rescue!5e0!3m2!1sen!2sin!4v1705208959544!5m2!1sen!2sin" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="additional-info3">
        <h3>Additional Information</h3>
        <p>Location: Your Location</p>
        <p>Category: Pet Care</p>
      </div>
    </div>
    <div class="card-info3">
      <h3>Title</h3>
      <p>Description goes here.</p>
    </div>
  </div>
</div>

<!-- 5th ngo -->
<div class="container4">
  <div class="card4">
    <div class="card-details4">
      <div class="card-map4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124505.57401562562!2d77.34758754335937!3d12.791543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae41bc0304b55b%3A0x767846db379dcc5a!2sWe%20Save%20Animals!5e0!3m2!1sen!2sin!4v1705208980843!5m2!1sen!2sin" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="additional-info4">
        <h3>Additional Information</h3>
        <p>Location: Your Location</p>
        <p>Category: Pet Care</p>
      </div>
    </div>
    <div class="card-info4">
      <h3>Title</h3>
      <p>Description goes here.</p>
    </div>
  </div>
</div>

<!-- 6th ngo -->
<div class="container5">
  <div class="card5">
    <div class="card-details5">
      <div class="card-map5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124470.76376580191!2d77.43321514335939!3d12.861909700000016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae6ab1a2beb5ed%3A0x7d1f0f9d42b234e2!2sSarvoham%20Animal%20Foundation!5e0!3m2!1sen!2sin!4v1705208997137!5m2!1sen!2sin" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="additional-info5">
        <h3>Additional Information</h3>
        <p>Location: Your Location</p>
        <p>Category: Pet Care</p>
      </div>
    </div>
    <div class="card-info5">
      <h3>Title</h3>
      <p>Description goes here.</p>
    </div>
  </div>
</div>

<!-- 7th ngo -->
<div class="container6">
  <div class="card6">
    <div class="card-details6">
      <div class="card-map6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124453.63133395804!2d77.57931664335939!3d12.896403200000009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae12b86f254b21%3A0x3c61ecec28b45f30!2sMaruthy%20Dog%20Shelter!5e0!3m2!1sen!2sin!4v1705209015843!5m2!1sen!2sin" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="additional-info6">
        <h3>Additional Information</h3>
        <p>Location: Your Location</p>
        <p>Category: Pet Care</p>
      </div>
    </div>
    <div class="card-info6">
      <h3>Title</h3>
      <p>Description goes here.</p>
    </div>
  </div>
</div>
<!-- 8th ngo -->
<div class="container7">
  <div class="card7">
    <div class="card-details7">
      <div class="card-map7">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124453.63133395804!2d77.57931664335939!3d12.896403200000009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1bcc26300879%3A0x48b37e65df129266!2sSyeraa%20Animal%20Rescue%20Centre!5e0!3m2!1sen!2sin!4v1705209224920!5m2!1sen!2sin" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="additional-info7">
        <h3>Additional Information</h3>
        <p>Location: Your Location</p>
        <p>Category: Pet Care</p>
      </div>
    </div>
    <div class="card-info7">
      <h3>Title</h3>
      <p>Description goes here.</p>
    </div>
  </div>
</div>

<!-- 9th ngo -->
<div class="container8">
  <div class="card8">
    <div class="card-details8">
      <div class="card-map8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124372.32483628413!2d77.56762944335937!3d13.0588801!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1a2ce30702ab%3A0xbb5859ac1309a100!2sALAI%20Rescues!5e0!3m2!1sen!2sin!4v1705209281794!5m2!1sen!2sin" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="additional-info8">
        <h3>Additional Information</h3>
        <p>Location: Your Location</p>
        <p>Category: Pet Care</p>
      </div>
    </div>
    <div class="card-info8">
      <h3>Title</h3>
      <p>Description goes here.</p>
    </div>
  </div>
</div>

<!-- 10th ngo -->
<div class="container9">
  <div class="card9">
    <div class="card-details9">
      <div class="card-map9">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124437.67855861654!2d77.33919224335939!3d12.928440299999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3ec536c5ce89%3A0xefd7308a3f39d480!2sKrupa%20Loving%20Animal!5e0!3m2!1sen!2sin!4v1705209305667!5m2!1sen!2sin" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="additional-info9">
        <h3>Additional Information</h3>
        <p>Location: Your Location</p>
        <p>Category: Pet Care</p>
      </div>
    </div>
    <div class="card-info9">
      <h3>Title</h3>
      <p>Description goes here.</p>
    </div>
  </div>
</div>


<div class="verter">
  <h1>Veterinary Hospital</h1>
</div>
<!-- vet1 -->
<div class="containerv1">
  <div class="cardv1">
    <div class="card-detailsv1">
      <div class="card-mapv1">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124387.7834875265!2d77.44064644335937!3d13.028141999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae174a3db54e67%3A0x129eb5cc35621331!2sVeterinary%20Super%20Speciality%20Hospital!5e0!3m2!1sen!2sin!4v1705066150277!5m2!1sen!2sin" 
            width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="additional-infov1">
        <h3>Additional Information</h3>
        <p>Location: Vasanth Nagara Bengaluru</p>
        <p>Category: Verternary Hospital <br>
          <br>www.ahvs.kar.nic.in
        </p>
      </div>
    </div>
    <div class="card-infov1">
      <h3>Title</h3>
      <p>Description goes here.</p>
    </div>
  </div>
</div>

<!-- vet2 -->
<div class="containerv2">
  <div class="cardv2">
    <div class="card-detailsv2">
      <div class="card-mapv2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62202.814295747165!2d77.5951429216797!3d12.992569800000009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae11479aac8a89%3A0x362e60a32af4c2e5!2sINDIAN%20WILDLIFE%20RESCUE%20TRUST!5e0!3m2!1sen!2sin!4v1704475581380!5m2!1sen!2sin" 
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="additional-infov2">
        <h3>Additional Information</h3>
        <p>Location: Vasanth Nagara Bengaluru</p>
        <p>Category: Verternary Hospital <br>
          <br>www.ahvs.kar.nic.in
        </p>
      </div>
    </div>
    <div class="card-infov2">
      <h3>Title</h3>
      <p>Description goes here.</p>
    </div>
  </div>
</div>

<!-- vet3 -->
<div class="containerv3">
  <div class="cardv3">
    <div class="card-detailsv3">
      <div class="card-mapv3">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124387.7834875265!2d77.44064644335937!3d13.028141999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae17c7572d192f%3A0x3195e7ca8aaaab56!2sVeterinary%20Hospital!5e0!3m2!1sen!2sin!4v1705066093654!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="additional-infov3">
        <h3>Additional Information</h3>
        <p>Location: Vasanth Nagara Bengaluru</p>
        <p>Category: Verternary Hospital <br>
          <br>www.ahvs.kar.nic.in
        </p>
      </div>
    </div>
    <div class="card-infov3">
      <h3>Title</h3>
      <p>Description goes here.</p>
    </div>
  </div>
</div>

<!-- vet4 -->
<div class="containerv4">
  <div class="cardv4">
    <div class="card-detailsv4">
      <div class="card-mapv4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124414.69105329188!2d77.36605003898975!3d12.974468108761029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15f5fbd9fc59%3A0x6045803127049f02!2sGovernment%20Veterinary%20Hospital!5e0!3m2!1sen!2sin!4v1705066051810!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="additional-infov4">
        <h3>Additional Information</h3>
        <p>Location: Vasanth Nagara Bengaluru</p>
        <p>Category: Verternary Hospital <br>
          <br>www.ahvs.kar.nic.in
        </p>
      </div>
    </div>
    <div class="card-infov4">
      <h3>Title</h3>
      <p>Description goes here.</p>
    </div>
  </div>
</div>
<!-- vet5 -->
<div class="containerv5">
  <div class="cardv5">
    <div class="card-detailsv5">
      <div class="card-mapv5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124414.69105329188!2d77.36605003898975!3d12.974468108761029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1599c25c3ae9%3A0x999b54310c02d28c!2sGovernment%20Veterinary%20Hospital!5e0!3m2!1sen!2sin!4v1705066000009!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="additional-infov5">
        <h3>Additional Information</h3>
        <p>Location: Vasanth Nagara Bengaluru</p>
        <p>Category: Verternary Hospital <br>
          <br>www.ahvs.kar.nic.in
        </p>
      </div>
    </div>
    <div class="card-infov5">
      <h3>Title</h3>
      <p>Description goes here.</p>
    </div>
  </div>
</div>


</body>
</html>