<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="contactus.component.css">
</head>
<body>
    <section id="aboutUs">
        <img src="/assets/images/image4.jpg" alt="computer user">
        <div class="content">
            <h2>Contact Us</h2>
            <h4></h4>
            <p class="description">
                "Stray Savers: One Click to Save is an innovative website designed to address the urgent needs of stray animals in distress. Our platform serves as a vital link connecting vulnerable strays with dedicated NGOs, facilitating swift intervention and rescue efforts. By leveraging technology, we streamline the process, enabling users to report and address animal emergencies seamlessly. This initiative is a cornerstone solution in promoting sustainable coexistence with our environment, fostering compassion and collective action. Stray Savers aims to be a beacon of hope for stray animals, forging a path towards a more humane and sustainable future for all beings on Earth." <br>
            </p>
            <div class="info">
                Email Us:  &#160; straysavers &#64; gmail.com <br><br>
                Phone number: &#160; 8660634516
            </div>
        </div>
    </section>
    
</body>
</html>